#main-wrapper
{
  display: inline-flex;
  flex-direction: row;
}

body
{
  color: white;
}

#bg
{
  position: absolute;
  width: 100vw;
  height: 100vh;

  background-image: url('../images/bg.jpg');
  z-index: -1;
}

#navigation
{
  position: relative;
  height: 100vh;
  width: 400px;
  min-width: 400px;

  background-color: black;
  color: white;
  transition-duration: 0.5s;

  caret-color: transparent;
}

#nav-toggle-btns
{
  position: relative;
  top: 0;
  right: 0;

  text-align: end;
  padding-right: 10px;
  font-size: 40px;
}

.clickable-link
{
  cursor: pointer;
  text-shadow: #FC0 1px 0 100px;
}

#nav-logo-wrapper
{
  width: 100%;
  align-items: center;
  text-align: center;
}

#nav-logo
{
  width: 200px;
  height: 200px;
}

#nav-items
{
  display: flex;
  flex-direction: column;
}

#nav-items h1
{
  text-align: center;
}

#nav-items ul li
{
  list-style: none;
  font-size: 25px;
}

.clickable-link:hover
{
  transition-duration: 0.5s;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 150px #ff00de, 0 0 60px #ff00de;
  letter-spacing: 5px;
}

#log-btns
{
  /* position: relative;
  bottom: 0; */

  position: absolute;
  bottom: 0;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  align-self: flex-end;
}

#nav-items btn
{
  width: 80%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

#logout
{
  display: none;
}

#main-wrapper
{
  width: 100vw;
}

#content
{
  width: 100%;
}

.table-output
{
  margin: auto;
  width: 100%;
}

.table-output thead
{
  color: black;
  background-color: white;
  font-weight: bold;
  text-align: center;
}

.table-output td
{
  border: 1px solid white;
}

form  
{ 
  display: table; 
  width: 80%;
  margin: auto;  
  grid-template-columns: 200px 1fr;   
}
form p     
{ 
  display: table-row;  
}
label 
{ 
  display: table-cell; 
}
input 
{ 
  display: table-cell; 
  width: 100%;
}

.page-header
{
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

.page-section
{
  width: 80%;
  border: 2px solid white;
  padding: 40px;
  margin: auto;
  background-color: rgba(0,0,0,0.5);
}